/* --= Reset =-- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}

input:checked[type=checkbox]{ 
    -webkit-appearance: none;
}

/* --= Root =-- */

html {
    --body-color: white;
    --container-color: hsl(0, 0%, 90%);
    --primary-color: hsl(0, 100%, 60%);
    --primary-hovercolor: hsla(0, 100%, 60%, 80%);
    --div-color: hsl(0, 0%, 70%);
    --text-color: black;
    --text-hovercolor: hsla(0, 0%, 0%, 80%);
    --text-backgroundcolor: hsl(0, 0%, 80%);
    --text-hoverbackgroundcolor: hsla(0, 0%, 80%, 80%);
    --settings-backgroundcolor: hsla(0, 0%, 100%, 0.5);
    --settings-labelcolor: hsl(0, 0%, 25%);
    --settings-shadow-color: white;
}

/* --= Body =-- */

body {
    background-color:  var(--body-color);
    color: var(--text-color);
}

/* --= Main =-- */

main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

/* --= Home page =-- */

#main-container {
    background-color: var(--container-color);
    border: 1px solid var(--primary-color);
    box-shadow: 0px 0px 12px var(--primary-color);
    margin: auto;
    padding: 6rem 10rem 10rem 10rem;
    border-radius: 6px;
    margin: auto;
}

#breaks-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid var(--div-color);
    margin: 0 0 3rem 0;
}

.break {
    color: var(--text-color);
    margin: 0rem 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem;
    background-color: var(--text-backgroundcolor);
    border-radius: 6px;
    font-size: 0.9rem;
    cursor: pointer;
}

.active {
    position: relative;
    margin: 0rem 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem;
    bottom: -0.1em;
    color: var(--text-hovercolor);
    background-color: var(--text-hoverbackgroundcolor);
    border-radius: 6px;
    font-size: 0.9rem;
    cursor: pointer;
}

.break:hover {
    position: relative;
    color: var(--text-hovercolor);
    background-color: var(--text-hoverbackgroundcolor);
    bottom: -0.1em;
}

#settings-button {
    justify-content: center;
    position: relative;
    margin: 0.5rem;
    align-items: center;
    font-size: 1.3rem;
    cursor: pointer;
}

#settings-button:hover {
    position: relative;
    bottom: -0.1rem;
}

#main-container #counter {
    margin-bottom: 2rem;
    padding: 1rem;
}

#counter h1 {
    text-align: center;
    font-size: 112px;
    
}

#buttons-wrapper {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.button {
    color: var(--text-color);
    background-color: var(--text-backgroundcolor);
    box-shadow: 0px 5px var(--primary-color);
    border-radius: 6px;
    padding: 1rem 1.5rem;
    font-size: 1.1em;
    cursor: pointer;
}

.button:hover {
    position: relative;
    color: var(--text-hovercolor);
    background-color: var(--text-hoverbackgroundcolor);
    box-shadow: 0px 5px var(--primary-hovercolor);
    bottom: -0.1em;
}

/* --= User Settings =-- */

#settings-container {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

#settings-container.show {
    display: flex;
    position: fixed;
    opacity: 1;
    visibility: visible;
    z-index: 1;
    background-color: var(--settings-backgroundcolor);
    width: 100vw;
    height: 100vh;
}

.show #settings {
    display: block;
    background-color:  var(--body-color);
    box-shadow: 0 0 12px var(--settings-shadowcolor);
    padding: 1.5rem 0rem 0rem 0rem;
    margin: auto;
    align-content: center;
    justify-content: center;
}

#settings-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--text-backgroundcolor);
    padding: 0 0 1.5rem 0;
}

#header-wrapper {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: small;
}

#header-wrapper i {
    display: flex;
    padding: 0 1rem 0rem 0;
    margin: 0 0 0 1.5rem;
    cursor: pointer;
}

#header-wrapper i:hover {
    position: relative;
    left: -5px;
}

#header-button{
    display: flex;
    text-align: center;
    align-items: center;
    font-size: small;
}

input[type="checkbox"].toggle-button {
    margin: 0 1.5rem 0 0;
    width: 50px;
    height: 25px;
    border-radius: 16px;
    appearance: none;
    background-color: var(--body-color);
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    box-shadow: inset 0px 0px 4px 1px rgba(15, 15, 15, 0.60);
}
    

input:checked[type="checkbox"].toggle-button {
    background-color: hsl(0, 0%, 30%);
}

input[type="checkbox"]:before {
    content: '';
    width: 25px;
    height: 25px;
    background-color: hsl(0, 0%, 25%);
    border: 1px solid hsl(0, 0%, 20%);
    border-radius: 16px;
    position: absolute;
    transform: scale(1.1);
    top: 0;
    left: 0;
    transition: 0.3s;
}

input:checked[type="checkbox"]:before {
    left: 25px;
    background-color: var(--text-color);
    border: 1px solid var(--container-color);
}

.settings-div {
    display: flex;
    padding: 1.5rem 0rem;
    border-bottom: 1px solid var(--text-backgroundcolor);
}

#text-minutes p {
    display: flex;
    position: relative;
    flex-direction: column;
    font-size: 18px;
    font-weight: bold;
    bottom: -1rem;
    padding: 0 1.5rem;
}

.settings-div .time-changer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    align-items: center;
}

.time-changer label {
    margin-bottom: 0.3rem;
    color: var(--settings-labelcolor);
    font-weight: bold;
    width: 60%;
}

.time-changer input {
    padding: 0.5rem;
    border-radius: 6px;
    outline: 0;
    background-color: var(--text-backgroundcolor);
    color: var(--text-color);
    -webkit-appearance: none;
    font-size: 16px;
    width: 60%;
}

#settings-footer {
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem;
}

#settings-footer .settings-button {
    border-radius: 6px;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    color: white;
    cursor: pointer;
}


.settings-button#save {
    background-color: rgb(24, 139, 16);
}

.settings-button#cancel {
    background-color: rgb(139, 16, 16);
}
.settings-button:hover {
    position: relative;
    color: hsla(100, 100%, 100%, 80%);
    bottom: -0.1em;
}